@charset "UTF-8";
/* 
dodgerblue : #1e90ff 
blue 강조색 : #006ad5
*/

body{
	margin:0 auto;
	text-align:center;
	min-width:1280px;
}
ul{list-style: none;}
a{text-decoration:none; color:inherit;}
table{
	border-collapse: collapse;
	margin:0 auto;
	border:1px solid #222;
	box-sizing: border-box;
}
table tr{ height:46px }
/* table.tb-list tr{ height:38px; } */
table th, table td{ border:1px solid #b0b0b0}
/* table td{padding-left:10px;} */
table th{ background-color:#f6f6f6; }
textarea{resize:none;}
input[type=text]{
	height:30px;
	padding:2px 10px;
	width:82%;
	font-size:16px;
}
input[type=radio]{
	width:18px;
	font-size:16px;
}
input[type=date]{
	height:30px;
	font-size:16px;
	width:90%;
}
input:focus, select:focus{outline:none; border:2px solid #006ad5;}
select{
	height:32px;
	cursor:pointer;
	padding-left:10px;
}
select[name=department_id], select[name=job_id]{
	width:92%;
	height:36px;
	font-size:16px;
}
h3{margin-top: 30px; margin-bottom:20px; font-size:26px;}

.login_ul{
	display:flex;
	column-gap:10px;
}
.login_ul span{font-weight: bold; display:block;}
.btnSet{
	margin:20px auto;	
	display:flex;
	justify-content:center;
	column-gap:10px;
}
a.btn-fill, a.btn-empty{
	display:block;
	height:24px;
	padding:5px 25px;
	border:1px solid dodgerblue;
	border-radius: 3px;
	background-color:dodgerblue;
	color:#fff;
	transition:all .2s;
	cursor:pointer;
}
a.btn-empty{
	background-color:#fff;
	color:dodgerblue;
}
a.btn-empty:hover{background-color:#006ad5; color:#fff;border-color:#006ad5}
a.btn-fill:hover{background-color:#006ad5; border-color:#006ad5}
.click a{
	line-height:30px;
	padding: 7px 12px;
	display:block;
	transition:all .2s;
}
.click a:hover{
	cursor:pointer;
	background-color:#84bbff;
}

.menu{
	display:flex;
	justify-content:center;
	align-items:center;
	column-gap:5px;
	font-size:18px;
}
.menu a{
	display:block;
	padding:10px 25px;
/* 	background-color:dodgerblue; */
	transition:all .15s;
}
.menu a:hover, a.active{
	color:#006ad5;
	font-weight: bold;
}
.menu_logo{
	padding:0;
}
.box{
	width:350px;
	margin:20px auto;
	box-sizing:border-box;
	border:1px solid #aaa;
	padding:40px 50px;
	display:flex;
	flex-direction: column;
	justify-content:center;
	column-gap: 10px;
}
.box li{margin: 10px 0;}

.box input{
	height:38px;
	padding:2px 10px;
	width:82%;
	font-size:16px;
	border:1px solid #ccc;
}
.box input[type=button]{
	width:90%;
	background-color:dodgerblue;
	padding:0;
	border:none;
	height:45px;
	color:#fff;
	cursor:pointer;
}
.log_name{line-height:38px;}

.tb-wrap{
	overflow-y : auto;
	height:495px;
	margin:0 auto;
}
.tb-list{width:100%}

.center{
	position:absolute;
	left:50%; top:50%;
	transform:translate(-50%, -50%);
}
.flex-end{
	display:flex;
	justify-content:flex-end;
}
.align-center{display:flex; align-items:center; column-gap:10px;}
.content{
	box-sizing:border-box;
	border:1px solid #ccc;
	border-top:none;
	margin:0 auto;
	padding:20px 50px;
	text-align:left;
}
.in_content{
	height:100px;
	width:86%;
}
.in_content input{
	height:88%;
	font-size:16px;
	line-height:16px;
}
.pointer{cursor:pointer;}

#preview img{max-height:80px;}

#delete, #attach-file, #delete-file{display:none;}
.date + #delete{position:relative; right:35px;}

.font {font-size:20px;}
.font-r {font-size: 20px; color:#ff0000}
.font-b {font-size:20px; color:dodgerblue}

.full { width: calc(100% - 30px) }
.profile { width:50px; height: 50px; border-radius: 50%; }
.font-profile { font-size: 50px; }

div.valid { color: #008000; font-size: 14px; font-weight: bold; }
div.invalid { color: #ff0000; font-size: 14px; font-weight: bold; }

.w-pct80 { width: 80% }
.w-pct60 { width: 60% }
.w-pct40 { width: 40% }

.w-40 { width: 40px }
.w-60 { width: 60px }
.w-80 { width: 80px }
.w-100 { width: 100px }
.w-120 { width: 120px }
.w-140 { width: 140px }
.w-160 { width: 160px }
.w-180 { width: 180px }
.w-200 { width: 200px }
.w-300 { width: 300px }
.w-400 { width: 400px }
.w-500 { width: 500px }
.w-600 { width: 600px }
.w-700 { width: 700px }
.w-800 { width: 800px }
.w-840 { width: 840px }
.w-900 { width: 900px }
.w-1000 { width: 1000px }